body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.debugWindowWrapper{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 98%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: monospace;
    display: none;
    opacity: 0.7;
    backdrop-filter: blur(5px);

}

.debugWindowWrapper.active{
    display: block;
}

#startButton{
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-family: monospace;
    opacity: 0.7;
    backdrop-filter: blur(5px);
}

body{
    overflow: hidden;
}